########################## 
### Dev environment
##########################

.gen
.vscode
*.session.sql


########################## 
### Executables
##########################

main


########################## 
### Secrets
##########################

# NOTE: If self-hosting, this line is safe to comment out or remove.
# SOPS encrypts secret values while leaving secret keys legible in plaintext. 
# Please see the SOPS documentation for information on safely using SOPS in a collaborative environment.
# https://github.com/mozilla/sops
cfg/secrets.enc*

# WARNING: DO NOT REMOVE THIS LINE!
# You risk exposing unencrypted secrets to a remote repository.
cfg/secrets.dec* 
